<div class="container index-cocktail">

  <div class="d-flex flex-wrap">

      <div class="card cocktail-card">
        <div class="card-body text-center d-flex flex-column">
          <div class="mt-2">
            <%= cl_image_tag @cocktail.photo.key, height: 150, width: 150, crop: :fill %>
            <h2><%= @cocktail.name %></h2>
            <% @cocktail.doses.each do |dose| %>
              <p><%= dose.description %></p>
              <p><%= dose.ingredient.name %></p>
              <div class="btn btn-danger index">
                <%= link_to "Delete the dose", dose_path(dose),
                method: :delete,
                data: { confirm: "Are you sure ?" } %>
              </div>
            </div>
          <% end %>
          </div>
      </div>
      </div>
  </div>
</div>
